[Unit]
Description=zmeventnotification - ZoneMinder event notification handler
Requires=zoneminder.service
After=zoneminder.service

[Service]
# This EnvironmentFile sets the variables defined in zmevent_handler.py CONFIG
EnvironmentFile=/etc/zmeventnotification.env
ExecStart=/usr/local/bin/zmeventnotification.pl --config /opt/home-automation-configs/zoneminder/zmeventnotification.ini
Type=simple
User=www-data

[Install]
WantedBy=multi-user.target
