[Unit]
Description=zmeventnotification_handler - ZoneMinder event notification handler
Requires=zoneminder.service zmeventnotification.service
After=zoneminder.service zmeventnotification.service
# Disable all unit start rate limiting
StartLimitIntervalSec=0
StartLimitBurst=999

[Service]
EnvironmentFile=/etc/zmeventnotification.env
ExecStart=/opt/home-automation-configs/zoneminder/zmeventnotification_handler.py
Type=simple
User=www-data
Restart=always
# Disable stopping unit if it doesn't start up in some timeout
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
