[Unit]
Description=zmevent_archived_s3d
# Disable all unit start rate limiting
StartLimitIntervalSec=0
StartLimitBurst=999

[Service]
EnvironmentFile=/etc/zmeventnotification.env
ExecStart=/opt/home-automation-configs/zoneminder/zmevent_archived_s3d.py -v
Type=simple
User=root
Restart=always
# Disable stopping unit if it doesn't start up in some timeout
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target