[Unit]
Description=zmeventnotification - ZoneMinder event notification handler
Requires=zoneminder.service
After=zoneminder.service
StartLimitIntervalSec=0
StartLimitBurst=999

[Service]
EnvironmentFile=/etc/zmeventnotification.env
ExecStart=/usr/local/bin/zmeventnotification.pl --config /opt/home-automation-configs/zoneminder/zmeventnotification.ini
Type=simple
User=www-data
Restart=always
# Disable all unit start rate limiting
# Disable stopping unit if it doesn't start up in some timeout
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
