[Unit]
Description=zmeventnotification - ZoneMinder event notification handler
Requires=zoneminder.service
After=zoneminder.service

[Service]
ExecStart=/usr/local/bin/zmeventnotification.pl --config /opt/home-automation-configs/zoneminder/zmeventnotification.ini
Type=simple
User=www-data
Restart=always

[Install]
WantedBy=multi-user.target
