[Unit]
Description=zmeventnotification_handler - ZoneMinder event notification handler
Requires=zoneminder.service zmeventnotification.service
After=zoneminder.service zmeventnotification.service

[Service]
EnvironmentFile=/etc/zmeventnotification.env
ExecStart=/opt/home-automation-configs/zoneminder/zmeventnotification_handler.py
Type=simple
User=www-data
Restart=always

[Install]
WantedBy=multi-user.target
