aiohttp==2.3.10
aiohttp-jinja2==0.15.0
appdaemon==3.0.5
appdirs==1.4.3
asn1crypto==0.24.0
astral==1.10.1
async-timeout==3.0.1
attrs==19.1.0
bcrypt==3.1.7
cached-property==1.5.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Cython==0.29.10
daemonize==2.5.0
defusedxml==0.6.0
feedparser==5.2.1
idna==2.8
idna-ssl==1.1.0
iso8601==0.1.12
isodate==0.6.0
Jinja2==2.10.1
lxml==4.3.4
MarkupSafe==1.1.1
multidict==4.5.2
numpy==1.16.4
onvif-zeep==0.2.12
opencv-python==4.1.0.25
paho-mqtt==1.4.0
Pillow==6.0.0
pycparser==2.19
PyMySQL==0.9.3
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
requests==2.22.0
requests-toolbelt==0.9.1
Shapely==1.6.4.post2
six==1.12.0
sseclient==0.0.24
tzlocal==1.5.1
urllib3==1.25.3
voluptuous==0.11.5
websocket-client==0.56.0
yarl==1.1.0
yolo34py==0.1rc12
zeep==3.4.0
